In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from warnings import filterwarnings
filterwarnings('ignore')

# Configuración inicial para mejores visualizaciones, recomendación gpt
plt.style.use('seaborn-v0_8')
sns.set_palette("husl")

In [11]:
#declaro el dataframe
df = pd.read_csv('../data/gross_data.csv', sep=';')

In [3]:
df.head()

,Ranking,Country,Regional indicator,Happiness score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
0,1,Switzerland,Western Europe,"7,58700","8,26132","0,96240",73,"0,99379","0,37289","0,23941",2015
1,2,Iceland,Western Europe,"7,56100","7,70416","1,00000",73,"0,93884","0,54819","0,74371",2015
2,3,Denmark,Western Europe,"7,52700","7,84114","0,97030",70,"0,96962","0,42894","0,12382",2015
3,4,Norway,Western Europe,"7,52200","8,63100","0,94917",71,"1,00000","0,43598","0,33860",2015
4,5,Canada,North America and ANZ,"7,42700","7,84595","0,94322",71,"0,94511","0,57560","0,40285",2015

In [4]:
df.info()
# HECHO -  revisar y valorar que hacer con los 3 nulos. 
# HECHO -  a partir de la columna GPD per capita deberian ser todas columnas numericas(valorar que conviene con los años)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1502 entries, 0 to 1501
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Ranking                       1502 non-null   int64
 1   Country                       1502 non-null   object
 2   Regional indicator            1499 non-null   object
 3   Happiness score               1502 non-null   object
 4   GDP per capita                1502 non-null   object
 5   Social support                1502 non-null   object
 6   Healthy life expectancy       1502 non-null   int64
 7   Freedom to make life choices  1502 non-null   object
 8   Generosity                    1502 non-null   object
 9   Perceptions of corruption     1502 non-null   object
 10  Year                          1502 non-null   int64
dtypes: int64(3), object(8)
memory usage: 129.2+ KB

In [5]:
df.describe()
#En principio, salvo que no estan todas las columnas numericas, no hay nada raro a simple vista. 
#HECHO -  Hacer otro discribe despues de cambiar las columnas a númericas

           Ranking  Healthy life expectancy         Year
count  1502.000000              1502.000000  1502.000000
mean     76.035286                66.670439  2019.374834
std      43.865013                 7.671376     2.856316
min       1.000000                39.000000  2015.000000
25%      38.000000                62.000000  2017.000000
50%      76.000000                68.000000  2019.000000
75%     114.000000                72.000000  2022.000000
max     158.000000                85.000000  2024.000000

In [6]:
df.isnull().sum()

Ranking                         0
Country                         0
Regional indicator              3
Happiness score                 0
GDP per capita                  0
Social support                  0
Healthy life expectancy         0
Freedom to make life choices    0
Generosity                      0
Perceptions of corruption       0
Year                            0
dtype: int64

In [7]:
df.columns

Index(['Ranking', 'Country', 'Regional indicator', 'Happiness score',
       'GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Year'],
      dtype='object')

In [8]:
#Columnas que están en formato string pero deberían ser numeros
numeric_columns = ['Happiness score', 'GDP per capita', 'Social support', 
                   'Freedom to make life choices', 'Generosity', 'Perceptions of corruption']

df_clean = df.copy()
#Reemplazo "," por "."
for colum in numeric_columns:
    df_clean[colum] = df_clean[colum].str.replace(',', '.')

df_clean.info()
#siguen apareciendo como objects.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1502 entries, 0 to 1501
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Ranking                       1502 non-null   int64
 1   Country                       1502 non-null   object
 2   Regional indicator            1499 non-null   object
 3   Happiness score               1502 non-null   object
 4   GDP per capita                1502 non-null   object
 5   Social support                1502 non-null   object
 6   Healthy life expectancy       1502 non-null   int64
 7   Freedom to make life choices  1502 non-null   object
 8   Generosity                    1502 non-null   object
 9   Perceptions of corruption     1502 non-null   object
 10  Year                          1502 non-null   int64
dtypes: int64(3), object(8)
memory usage: 129.2+ KB

In [9]:
#Paso todo a float
for colum in numeric_columns:
    df_clean[colum] = df_clean[colum].astype(float)

df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1502 entries, 0 to 1501
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Ranking                       1502 non-null   int64
 1   Country                       1502 non-null   object
 2   Regional indicator            1499 non-null   object
 3   Happiness score               1502 non-null   float64
 4   GDP per capita                1502 non-null   float64
 5   Social support                1502 non-null   float64
 6   Healthy life expectancy       1502 non-null   int64
 7   Freedom to make life choices  1502 non-null   float64
 8   Generosity                    1502 non-null   float64
 9   Perceptions of corruption     1502 non-null   float64
 10  Year                          1502 non-null   int64
dtypes: float64(6), int64(3), object(2)
memory usage: 129.2+ KB

In [10]:
df_clean.describe()
#PENDIENTE - Revisar :
# HECHO- min que dan cero, puede que correspondan a los datos que tenemos nullos, si es asi eliminarlos. También puede que correspondan que
# el valor de ese campo sea de 0 a 1 pero de todos modos no se si deberia haber un lugar con 0. 
# - Revisar la escala en la que esta hecha el happines score,  no llega a cero ni tampoco a 10

,Ranking,Happiness score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
count,1502.000000,1502.000000,1502.000000,1502.000000,1502.000000,1502.000000,1502.000000,1502.000000,1502.000000
mean,76.035286,5.448857,6.107178,0.691842,66.670439,0.658935,0.320369,0.452764,2019.374834
std,43.865013,1.125638,2.499571,0.212647,7.671376,0.216441,0.172669,0.321786,2.856316
min,1.000000,1.721000,0.000000,0.000000,39.000000,0.000000,0.000000,0.000000,2015.000000
25%,38.000000,4.593425,4.375967,0.564507,62.000000,0.535942,0.196085,0.158585,2017.000000
50%,76.000000,5.469650,6.305600,0.738190,68.000000,0.690305,0.296375,0.345325,2019.000000
75%,114.000000,6.278450,8.047867,0.861528,72.000000,0.831792,0.430042,0.782560,2022.000000
max,158.000000,7.842100,10.000000,1.000000,85.000000,1.000000,1.000000,1.000000,2024.000000

In [11]:
#Revisar los valores nulos 

df_clean[df_clean['Regional indicator'].isnull()]

,Ranking,Country,Regional indicator,Happiness score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
394,87,Greece,NaN,5.2270,6.89283,0.76955,71,0.14543,0.00000,0.09324,2017
673,49,Cyprus,NaN,6.0458,7.50051,0.75329,77,0.64287,0.33664,0.08973,2019
743,120,Gambia,NaN,4.5163,1.82777,0.57836,66,0.60555,0.47478,0.36920,2019

In [12]:
#Lo hago asi para ver más claro cada región
regiones = df_clean['Regional indicator'].unique()

for region in regiones:
    print(region)

Western Europe
North America and ANZ
Middle East and North Africa
Latin America and Caribbean
Southeast Asia
Central and Eastern Europe
East Asia
Commonwealth of Independent States
Sub-Saharan Africa
South Asia
nan

In [13]:
#Busco como aparece el resto de los registros para Grecia, pero veo que difieren lo cual me hace pensar que...
# HECHO! -  tal vez hay que revisar si todos los paises estan en en la misma regional o modificarlos para poder hacer bien el analisis
#por regiones posteriormente.
df_clean[df_clean['Country']=='Greece']

,Ranking,Country,Regional indicator,Happiness score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
101,102,Greece,Western Europe,4.8570,6.82708,0.66275,71,0.11495,0.00000,0.97469,2015
288,99,Greece,Western Europe,5.0330,9.97503,0.63784,76,0.09568,0.00000,0.08169,2016
394,87,Greece,NaN,5.2270,6.89283,0.76955,71,0.14543,0.00000,0.09324,2017
520,79,Greece,Western Europe,5.3579,6.99674,0.69967,72,0.18072,0.00000,0.09730,2018
705,82,Greece,Middle East and North Africa,5.2867,7.01463,0.71213,76,0.10625,0.00000,0.07604,2019
855,77,Greece,Middle East and North Africa,5.5150,7.34098,0.75536,72,0.25029,0.00000,0.90839,2020
979,68,Greece,Middle East and North Africa,5.7226,7.27059,0.69218,73,0.33994,0.00000,0.86448,2021
1127,58,Greece,Middle East and North Africa,5.9482,7.70827,0.74276,80,0.33669,0.03189,0.18461,2022
1282,58,Greece,Middle East and North Africa,5.9309,7.76334,0.76983,71,0.32130,0.01872,0.82647,2023
1408,63,Greece,Middle East and North Africa,5.9336,7.86686,0.78940,76,0.39053,0.04532,0.16097,2024

In [14]:
df_clean.loc[[101,288,394,520],'Regional indicator'] = 'Middle East and North Africa'

In [15]:
df_clean[df_clean['Country']=='Greece']

,Ranking,Country,Regional indicator,Happiness score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
101,102,Greece,Middle East and North Africa,4.8570,6.82708,0.66275,71,0.11495,0.00000,0.97469,2015
288,99,Greece,Middle East and North Africa,5.0330,9.97503,0.63784,76,0.09568,0.00000,0.08169,2016
394,87,Greece,Middle East and North Africa,5.2270,6.89283,0.76955,71,0.14543,0.00000,0.09324,2017
520,79,Greece,Middle East and North Africa,5.3579,6.99674,0.69967,72,0.18072,0.00000,0.09730,2018
705,82,Greece,Middle East and North Africa,5.2867,7.01463,0.71213,76,0.10625,0.00000,0.07604,2019
855,77,Greece,Middle East and North Africa,5.5150,7.34098,0.75536,72,0.25029,0.00000,0.90839,2020
979,68,Greece,Middle East and North Africa,5.7226,7.27059,0.69218,73,0.33994,0.00000,0.86448,2021
1127,58,Greece,Middle East and North Africa,5.9482,7.70827,0.74276,80,0.33669,0.03189,0.18461,2022
1282,58,Greece,Middle East and North Africa,5.9309,7.76334,0.76983,71,0.32130,0.01872,0.82647,2023
1408,63,Greece,Middle East and North Africa,5.9336,7.86686,0.78940,76,0.39053,0.04532,0.16097,2024

In [16]:
df_clean[df_clean['Regional indicator'].isnull()]

,Ranking,Country,Regional indicator,Happiness score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
673,49,Cyprus,NaN,6.0458,7.50051,0.75329,77,0.64287,0.33664,0.08973,2019
743,120,Gambia,NaN,4.5163,1.82777,0.57836,66,0.60555,0.47478,0.36920,2019

In [17]:
df_clean[df_clean['Country']=='Cyprus']

,Ranking,Country,Regional indicator,Happiness score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
66,67,Cyprus,Western Europe,5.6890,7.14692,0.63697,72,0.60729,0.38496,0.88864,2015
304,69,Cyprus,Western Europe,5.5460,9.93412,0.59748,78,0.48492,0.34044,0.10348,2016
419,65,Cyprus,Western Europe,5.6210,7.24804,0.70246,72,0.53948,0.32366,0.08882,2017
505,61,Cyprus,Middle East and North Africa,5.7625,7.45164,0.74516,73,0.58353,0.33886,0.07654,2018
673,49,Cyprus,NaN,6.0458,7.50051,0.75329,77,0.64287,0.33664,0.08973,2019
824,45,Cyprus,Western Europe,6.1590,7.89236,0.74257,74,0.66264,0.40001,0.90396,2020
963,39,Cyprus,Western Europe,6.2235,7.86375,0.65284,74,0.64801,0.32932,0.88900,2021
1110,41,Cyprus,Sub-Saharan Africa,6.2209,8.21521,0.68892,81,0.60557,0.26356,0.10528,2022
1270,46,Cyprus,Sub-Saharan Africa,6.1300,8.29006,0.75600,73,0.59029,0.24724,0.91149,2023
1391,50,Cyprus,Western Europe,6.0681,8.38021,0.75284,78,0.61250,0.31061,0.08551,2024

In [18]:
#No tiene mucho sentido que grecia sea norte de africa y chipre no pero determino el valor por la mayoria
df_clean.loc[[1270,1110,673,505],'Regional indicator'] = 'Western Europe'

In [19]:
df_clean[df_clean['Regional indicator'].isnull()]

,Ranking,Country,Regional indicator,Happiness score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
743,120,Gambia,NaN,4.5163,1.82777,0.57836,66,0.60555,0.47478,0.3692,2019

In [20]:
df_clean[df_clean['Country']=='Gambia']

,Ranking,Country,Regional indicator,Happiness score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
743,120,Gambia,NaN,4.5163,1.82777,0.57836,66,0.60555,0.47478,0.36920,2019
891,113,Gambia,Sub-Saharan Africa,4.7506,1.67238,0.57037,55,0.58191,0.74759,0.70348,2020
975,98,Gambia,Sub-Saharan Africa,5.0510,2.09648,0.43630,55,0.53587,0.85851,0.77446,2021
1123,93,Gambia,Sub-Saharan Africa,5.1636,3.55224,0.47015,67,0.49644,0.82926,0.17472,2022
1343,119,Gambia,Sub-Saharan Africa,4.2794,3.45836,0.37888,58,0.37054,0.78721,0.94071,2023
1404,109,Gambia,Sub-Saharan Africa,4.4849,3.50522,0.42303,65,0.53119,0.80918,0.08311,2024

In [21]:
df_clean.loc[[743],'Regional indicator'] = 'Sub-Saharan Africa'

In [22]:
df_clean[df_clean['Country']=='Gambia']

,Ranking,Country,Regional indicator,Happiness score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
743,120,Gambia,Sub-Saharan Africa,4.5163,1.82777,0.57836,66,0.60555,0.47478,0.36920,2019
891,113,Gambia,Sub-Saharan Africa,4.7506,1.67238,0.57037,55,0.58191,0.74759,0.70348,2020
975,98,Gambia,Sub-Saharan Africa,5.0510,2.09648,0.43630,55,0.53587,0.85851,0.77446,2021
1123,93,Gambia,Sub-Saharan Africa,5.1636,3.55224,0.47015,67,0.49644,0.82926,0.17472,2022
1343,119,Gambia,Sub-Saharan Africa,4.2794,3.45836,0.37888,58,0.37054,0.78721,0.94071,2023
1404,109,Gambia,Sub-Saharan Africa,4.4849,3.50522,0.42303,65,0.53119,0.80918,0.08311,2024

In [23]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1502 entries, 0 to 1501
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Ranking                       1502 non-null   int64
 1   Country                       1502 non-null   object
 2   Regional indicator            1502 non-null   object
 3   Happiness score               1502 non-null   float64
 4   GDP per capita                1502 non-null   float64
 5   Social support                1502 non-null   float64
 6   Healthy life expectancy       1502 non-null   int64
 7   Freedom to make life choices  1502 non-null   float64
 8   Generosity                    1502 non-null   float64
 9   Perceptions of corruption     1502 non-null   float64
 10  Year                          1502 non-null   int64
dtypes: float64(6), int64(3), object(2)
memory usage: 129.2+ KB

In [24]:
#ANALIZO EL TEMA DE LOS PAISES Y SUS REGIONES
pais_region = df_clean.groupby('Country')['Regional indicator'].nunique()
pais_region

Country
Afghanistan    1
Albania        1
Algeria        1
Angola         1
Argelia        2
              ..
Venezuela      1
Vietnam        1
Yemen          1
Zambia         1
Zimbabwe       1
Name: Regional indicator, Length: 175, dtype: int64

In [25]:
regiones_mult = pais_region[pais_region>1]
print(regiones_mult)
len(regiones_mult)

Country
Argelia           2
Czech Republic    2
Czechia           2
Estonia           2
Georgia           2
Hungary           2
Laos              3
Latvia            2
Lithuania         2
Macedonia         2
Maldives          2
Mauritania        2
Moldova           3
Montenegro        2
North Cyprus      2
Poland            2
Romania           2
Serbia            2
Singapore         2
Slovakia          2
Slovenia          2
Sudan             3
Ukraine           2
Name: Regional indicator, dtype: int64

23

In [26]:
df_clean[df_clean['Country']=='Argelia']['Regional indicator'].mode()

0    Middle East and North Africa
1              Sub-Saharan Africa
Name: Regional indicator, dtype: object

In [27]:
df_clean[df_clean['Country']=='Argelia']['Regional indicator']

416     Middle East and North Africa
472     Middle East and North Africa
711     Middle East and North Africa
878     Middle East and North Africa
934               Sub-Saharan Africa
1082              Sub-Saharan Africa
1305              Sub-Saharan Africa
1364              Sub-Saharan Africa
Name: Regional indicator, dtype: object

In [28]:
df_clean[df_clean['Country']=='Poland']['Regional indicator'].mode()

0    Central and Eastern Europe
Name: Regional indicator, dtype: object

In [29]:
df_clean[df_clean['Country']=='Argelia']['Regional indicator'].mode().iloc[0]

'Middle East and North Africa'

In [30]:
#UNIFICADO MÁS ABAJO EN UNA SÓLA FUNCIÓN PARA SIMPLIFICAR
# PRIMER PASO - Hago una función para buscar la región moda de cada pais, pongo iloc[0], porque hay algunos casos que dan mas de una moda,
#ambas regiones aparecen la misma cantidad de veces, en ese caso unifico regiones por el que primero aparece.
# def moda_region_pais(pais):
#     moda = df_clean[df_clean['Country']==pais]['Regional indicator'].mode().iloc[0]
#     return pais, moda

In [31]:
# PASO DOS - BUSCO LOS INDICES DE AQUELLAS REGIONES QUE NO SEAN MODA POR CADA PAIS
# for elemento in regiones_mult.index:
#     pais, moda = moda_region_pais(elemento)
#     print(f'{pais}-{moda}')
#     index = df_clean[df_clean['Country']==pais][df_clean['Regional indicator'] != moda].index
#     # print(index)

In [32]:
# PASO TRES, con los datos que consegui hasta ahora, lo pruebo  manualmente para ver si da el resultado que quiero. 
# pais, moda = moda_region_pais('Argelia')
# print(f'{pais} - {moda}')
# index = df_clean[df_clean['Country']==pais][df_clean['Regional indicator'] != moda].index
# print(index)
# df_clean.loc[index,'Regional indicator'] = moda
# df_clean[df_clean['Country']==pais]

In [33]:
def reemplazar_regiones_xmoda(pais):
    moda = df_clean[df_clean['Country']==pais]['Regional indicator'].mode().iloc[0]
    index = df_clean[df_clean['Country']==pais][df_clean['Regional indicator'] != moda].index
    df_clean.loc[index,'Regional indicator'] = moda
    return None

In [34]:
#con mucho miedo, hacemos esto y modificamos el dataframe😬
for pais in regiones_mult.index:
    reemplazar_regiones_xmoda(pais)

In [35]:
#compruebo aleatoriamente con la lista de arriba a ver si se hicieron los cambios
comprobacion_reg = df_clean.groupby('Country')['Regional indicator'].nunique()
comprobacion_reg[comprobacion_reg>1]

Series([], Name: Regional indicator, dtype: int64)

In [36]:
# Estonia-Western Europe - Index([72], dtype='int64')
df_clean[df_clean['Country']=='Estonia']

,Ranking,Country,Regional indicator,Happiness score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
72,73,Estonia,Western Europe,5.4290,6.81338,0.87568,67,0.67023,0.10906,0.72488,2015
264,72,Estonia,Western Europe,5.5170,9.99915,0.88875,72,0.68221,0.10275,0.36656,2016
333,66,Estonia,Western Europe,5.6110,7.06063,0.91686,67,0.72789,0.11800,0.39467,2017
512,63,Estonia,Western Europe,5.7392,7.27703,0.72770,69,0.76302,0.14346,0.38048,2018
679,55,Estonia,Western Europe,5.8935,7.34417,0.94099,74,0.78441,0.18213,0.35525,2019
830,51,Estonia,Western Europe,6.0218,7.75987,0.93904,69,0.83180,0.21961,0.62157,2020
970,40,Estonia,Western Europe,6.1888,7.67446,0.92027,69,0.89562,0.21931,0.51866,2021
1117,36,Estonia,Western Europe,6.3408,8.11754,0.93364,78,0.93145,0.26272,0.56726,2022
1255,31,Estonia,Western Europe,6.4552,8.17615,0.94244,70,0.94374,0.36408,0.33635,2023
1398,34,Estonia,Western Europe,6.4477,8.18422,0.94468,75,0.93287,0.41531,0.69812,2024

In [37]:
# Mauritania-Middle East and North Africa - Index([123, 182], dtype='int64')
df_clean[df_clean['Country']=='Mauritania']

,Ranking,Country,Regional indicator,Happiness score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
123,124,Mauritania,Middle East and North Africa,4.4360,2.68612,0.61978,52,0.36182,0.27516,0.68362,2015
182,130,Mauritania,Middle East and North Africa,4.2010,9.67499,0.71110,56,0.20839,0.27676,0.35540,2016
384,123,Mauritania,Middle East and North Africa,4.2920,3.46627,0.78980,56,0.14599,0.24087,0.29497,2017
558,126,Mauritania,Middle East and North Africa,4.3555,3.37786,0.33779,59,0.17742,0.22454,0.20422,2018
745,122,Mauritania,Middle East and North Africa,4.4903,3.38244,0.71889,67,0.10420,0.18660,0.19474,2019
907,129,Mauritania,Middle East and North Africa,4.3746,3.51203,0.71940,57,0.26788,0.22621,0.77069,2020
1017,134,Mauritania,Middle East and North Africa,4.2274,3.80442,0.63873,57,0.30503,0.21905,0.75690,2021
1163,133,Mauritania,Middle East and North Africa,4.1526,4.97958,0.65526,70,0.41070,0.18884,0.23596,2022
1327,103,Mauritania,Middle East and North Africa,4.7239,4.99605,0.47186,60,0.41495,0.30735,0.65291,2023
1444,108,Mauritania,Middle East and North Africa,4.5051,5.03457,0.43589,67,0.39683,0.33064,0.34511,2024

In [38]:
#revisando los valores minimos en cero 
df_clean.describe()

,Ranking,Happiness score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
count,1502.000000,1502.000000,1502.000000,1502.000000,1502.000000,1502.000000,1502.000000,1502.000000,1502.000000
mean,76.035286,5.448857,6.107178,0.691842,66.670439,0.658935,0.320369,0.452764,2019.374834
std,43.865013,1.125638,2.499571,0.212647,7.671376,0.216441,0.172669,0.321786,2.856316
min,1.000000,1.721000,0.000000,0.000000,39.000000,0.000000,0.000000,0.000000,2015.000000
25%,38.000000,4.593425,4.375967,0.564507,62.000000,0.535942,0.196085,0.158585,2017.000000
50%,76.000000,5.469650,6.305600,0.738190,68.000000,0.690305,0.296375,0.345325,2019.000000
75%,114.000000,6.278450,8.047867,0.861528,72.000000,0.831792,0.430042,0.782560,2022.000000
max,158.000000,7.842100,10.000000,1.000000,85.000000,1.000000,1.000000,1.000000,2024.000000

In [39]:
#Para aquellos paises que tiene cero en el GDP,los voy a reemplazar por la media de las casillas con datos para el mismo pais 
paises_sin_pib = df_clean[df_clean['GDP per capita']== 0]['Country'].unique()
paises_sin_pib

array(['Congo (Kinshasa)', 'Somalia', 'Central African Republic',
       'Burundi', 'Venezuela'], dtype=object)

In [40]:
df_clean[(df_clean['Country']== 'Congo (Kinshasa)') & (df_clean['GDP per capita'] != 0)]['GDP per capita'].mean()

np.float64(2.0987042857142857)

In [41]:
for pais in paises_sin_pib:
    print(pais)
    media = df_clean[(df_clean['Country']== pais) & (df_clean['GDP per capita'] != 0)]['GDP per capita'].mean()
    print(media)
    indices = df_clean[(df_clean['Country']== pais) & (df_clean['GDP per capita'] == 0)].index
    print(indices)
    df_clean.loc[indices, ['GDP per capita']] = media

Congo (Kinshasa)
2.0987042857142857
Index([119], dtype='int64')
Somalia
0.12104
Index([163, 594, 735], dtype='int64')
Central African Republic
0.25836000000000003
Index([469], dtype='int64')
Burundi
1.7537580000000002
Index([918, 951], dtype='int64')
Venezuela
6.244891428571428
Index([1220, 1312, 1497], dtype='int64')

In [42]:
df_clean[df_clean['Country']=='Burundi']

,Ranking,Country,Regional indicator,Happiness score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
156,157,Burundi,Sub-Saharan Africa,2.9050,0.090530,0.29658,47,0.17693,0.24786,0.81769,2015
165,157,Burundi,Sub-Saharan Africa,2.9050,7.365750,0.19812,51,0.07100,0.24753,0.18643,2016
461,154,Burundi,Sub-Saharan Africa,2.9050,0.489760,0.39104,52,0.09100,0.24393,0.18123,2017
492,156,Burundi,Sub-Saharan Africa,2.9045,0.550660,0.05507,56,0.08951,0.24918,0.16621,2018
768,145,Burundi,Sub-Saharan Africa,3.7753,0.272090,0.27559,65,0.34837,0.31112,0.39844,2019
918,140,Burundi,Sub-Saharan Africa,3.7753,1.753758,0.26078,53,0.39725,0.32888,0.60202,2020
951,140,Burundi,Sub-Saharan Africa,3.7753,1.753758,0.05329,53,0.41572,0.31852,0.61230,2021

In [ ]:

df_clean[df_clean['Country']== 'Norway']

,Ranking,Country,Regional indicator,Happiness score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
3,4,Norway,Western Europe,7.5220,8.63100,0.94917,71,1.00000,0.43598,0.33860,2015
287,4,Norway,Western Europe,7.4980,9.70015,0.95237,76,0.97963,0.46229,0.70814,2016
321,1,Norway,Western Europe,7.5370,8.64065,0.95216,70,0.96532,0.43196,0.68051,2017
574,2,Norway,Western Europe,7.5937,8.82704,0.88270,72,0.94747,0.47800,0.74335,2018
627,3,Norway,Western Europe,7.5539,8.83423,0.97407,77,0.95605,0.47948,0.75302,2019
784,5,Norway,Western Europe,7.4880,9.26810,0.96614,73,0.96672,0.50540,0.18580,2020
1034,6,Norway,Western Europe,7.3925,8.81579,0.94524,73,0.98208,0.45990,0.21935,2021
1180,8,Norway,Western Europe,7.3651,9.03954,0.93873,80,0.98326,0.46298,0.80773,2022
1231,7,Norway,Western Europe,7.3155,9.06702,0.93909,72,0.97449,0.50265,0.17450,2023
1461,7,Norway,Western Europe,7.3017,9.11908,0.93815,76,0.96762,0.55922,0.84146,2024

In [44]:
df_clean[df_clean['Country']== 'Argentina']

,Ranking,Country,Regional indicator,Happiness score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
29,30,Argentina,Latin America and Caribbean,6.5740,6.23223,0.89018,67,0.67152,0.14388,0.84629,2015
267,26,Argentina,Latin America and Caribbean,6.6500,9.92469,0.90101,72,0.69490,0.13406,0.14442,2016
344,24,Argentina,Latin America and Caribbean,6.5990,6.33588,0.89437,67,0.75127,0.13061,0.12866,2017
474,29,Argentina,Latin America and Caribbean,6.3880,6.50476,0.65048,69,0.78637,0.10366,0.11709,2018
671,47,Argentina,Latin America and Caribbean,6.0863,6.48132,0.88166,74,0.74557,0.11650,0.10978,2019
834,55,Argentina,Latin America and Caribbean,5.9747,6.69279,0.88690,69,0.75128,0.12302,0.88669,2020
935,57,Argentina,Latin America and Caribbean,5.9293,6.63769,0.83585,69,0.75926,0.12830,0.87708,2021
1083,57,Argentina,Latin America and Caribbean,5.9670,7.20403,0.83488,76,0.75047,0.17207,0.14472,2022
1276,52,Argentina,Latin America and Caribbean,6.0237,7.22632,0.85707,67,0.76071,0.20975,0.85303,2023
1365,48,Argentina,Latin America and Caribbean,6.1881,7.29612,0.85449,73,0.78851,0.21822,0.13990,2024

In [46]:
df_clean

,Ranking,Country,Regional indicator,Happiness score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
0,1,Switzerland,Western Europe,7.5870,8.261320,0.96240,73,0.99379,0.37289,0.23941,2015
1,2,Iceland,Western Europe,7.5610,7.704160,1.00000,73,0.93884,0.54819,0.74371,2015
2,3,Denmark,Western Europe,7.5270,7.841140,0.97030,70,0.96962,0.42894,0.12382,2015
3,4,Norway,Western Europe,7.5220,8.631000,0.94917,71,1.00000,0.43598,0.33860,2015
4,5,Canada,North America and ANZ,7.4270,7.845950,0.94322,71,0.94511,0.57560,0.40285,2015
...,...,...,...,...,...,...,...,...,...,...,...
1497,78,Venezuela,Latin America and Caribbean,5.6067,6.244891,0.81740,70,0.59990,0.47969,0.14982,2024
1498,54,Vietnam,Southeast Asia,6.0430,6.215790,0.78378,71,0.97594,0.23369,0.27818,2024
1499,130,Yemen,Middle East and North Africa,3.5610,3.136060,0.79273,64,0.41974,0.19988,0.19678,2024
1500,131,Zambia,Sub-Saharan Africa,3.5024,4.199780,0.50041,63,0.84216,0.41825,0.19012,2024
1501,135,Zimbabwe,Sub-Saharan Africa,3.3411,3.496060,0.52587,62,0.56401,0.23983,0.22708,2024

In [47]:
df[df['Country']=='Argentina']

,Ranking,Country,Regional indicator,Happiness score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
29,30,Argentina,Latin America and Caribbean,"6,57400","6,23223","0,89018",67,"0,67152","0,14388","0,84629",2015
267,26,Argentina,Latin America and Caribbean,"6,65000","9,92469","0,90101",72,"0,69490","0,13406","0,14442",2016
344,24,Argentina,Latin America and Caribbean,"6,59900","6,33588","0,89437",67,"0,75127","0,13061","0,12866",2017
474,29,Argentina,Latin America and Caribbean,"6,38800","6,50476","0,65048",69,"0,78637","0,10366","0,11709",2018
671,47,Argentina,Latin America and Caribbean,"6,08630","6,48132","0,88166",74,"0,74557","0,11650","0,10978",2019
834,55,Argentina,Latin America and Caribbean,"5,97470","6,69279","0,88690",69,"0,75128","0,12302","0,88669",2020
935,57,Argentina,Latin America and Caribbean,"5,92930","6,63769","0,83585",69,"0,75926","0,12830","0,87708",2021
1083,57,Argentina,Latin America and Caribbean,"5,96700","7,20403","0,83488",76,"0,75047","0,17207","0,14472",2022
1276,52,Argentina,Latin America and Caribbean,"6,02370","7,22632","0,85707",67,"0,76071","0,20975","0,85303",2023
1365,48,Argentina,Latin America and Caribbean,"6,18810","7,29612","0,85449",73,"0,78851","0,21822","0,13990",2024

In [48]:
df_clean.describe()

,Ranking,Happiness score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
count,1502.000000,1502.000000,1502.000000,1502.000000,1502.000000,1502.000000,1502.000000,1502.000000,1502.000000
mean,76.035286,5.448857,6.123797,0.691842,66.670439,0.658935,0.320369,0.452764,2019.374834
std,43.865013,1.125638,2.475783,0.212647,7.671376,0.216441,0.172669,0.321786,2.856316
min,1.000000,1.721000,0.090530,0.000000,39.000000,0.000000,0.000000,0.000000,2015.000000
25%,38.000000,4.593425,4.389725,0.564507,62.000000,0.535942,0.196085,0.158585,2017.000000
50%,76.000000,5.469650,6.305600,0.738190,68.000000,0.690305,0.296375,0.345325,2019.000000
75%,114.000000,6.278450,8.047867,0.861528,72.000000,0.831792,0.430042,0.782560,2022.000000
max,158.000000,7.842100,10.000000,1.000000,85.000000,1.000000,1.000000,1.000000,2024.000000

In [49]:
#Me lo creo
df_clean[df_clean['Social support']== 0]

,Ranking,Country,Regional indicator,Happiness score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
147,148,Central African Republic,Sub-Saharan Africa,3.6780,0.46439,0.0,41,0.72984,0.29948,0.84981,2015
178,155,Togo,Sub-Saharan Africa,3.3030,9.51589,0.0,54,0.56991,0.21369,0.22935,2016
469,155,Central African Republic,Sub-Saharan Africa,2.6930,0.25836,0.0,48,0.41146,0.33514,0.12183,2017
594,98,Somalia,Sub-Saharan Africa,4.9815,0.12104,0.0,55,0.92980,0.39825,0.61731,2018
778,155,Central African Republic,Sub-Saharan Africa,3.0830,0.15681,0.0,59,0.35688,0.41541,0.07791,2019
927,149,Central African Republic,Sub-Saharan Africa,3.4759,0.26728,0.0,45,0.42237,0.44491,0.94699,2020
932,149,Afghanistan,South Asia,2.5229,2.11402,0.0,52,0.00000,0.22474,0.98250,2021
1080,146,Afghanistan,South Asia,2.4038,3.43077,0.0,65,0.00000,0.18993,0.00832,2022
1361,137,Afghanistan,South Asia,1.8590,2.93045,0.0,55,0.00000,0.22053,0.89543,2023
1362,140,Afghanistan,South Asia,1.7210,2.93451,0.0,62,0.00000,0.22638,0.15383,2024

In [50]:
#También me parece que podia ser
df_clean[df_clean['Freedom to make life choices']== 0]

,Ranking,Country,Regional indicator,Happiness score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
111,112,Iraq,Middle East and North Africa,4.6770,5.82990,0.58399,60,0.0,0.22518,0.75018,2015
185,133,Sudan,Sub-Saharan Africa,4.1390,9.99269,0.69239,56,0.0,0.22053,0.19870,2016
424,140,Angola,Sub-Saharan Africa,3.7950,4.58865,0.68573,49,0.0,0.11685,0.15016,2017
473,142,Angola,Sub-Saharan Africa,3.7948,4.42773,0.44277,59,0.0,0.13198,0.13409,2018
777,154,Afghanistan,South Asia,3.2033,2.07608,0.31842,64,0.0,0.27951,0.05495,2019
931,153,Afghanistan,South Asia,2.5669,1.95686,0.23032,53,0.0,0.23733,0.99770,2020
932,149,Afghanistan,South Asia,2.5229,2.11402,0.00000,52,0.0,0.22474,0.98250,2021
1080,146,Afghanistan,South Asia,2.4038,3.43077,0.00000,65,0.0,0.18993,0.00832,2022
1361,137,Afghanistan,South Asia,1.8590,2.93045,0.00000,55,0.0,0.22053,0.89543,2023
1362,140,Afghanistan,South Asia,1.7210,2.93451,0.00000,62,0.0,0.22638,0.15383,2024

In [51]:
#Me lo creo, analizando cada pais por separado, veo que grecia tiene valores solo a partir de hace 3 años, tal vez no habia trazabilidad en las donaciones
df_clean[df_clean['Generosity']== 0]

,Ranking,Country,Regional indicator,Happiness score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
101,102,Greece,Middle East and North Africa,4.8570,6.82708,0.66275,71,0.11495,0.0,0.97469,2015
288,99,Greece,Middle East and North Africa,5.0330,9.97503,0.63784,76,0.09568,0.0,0.08169,2016
394,87,Greece,Middle East and North Africa,5.2270,6.89283,0.76955,71,0.14543,0.0,0.09324,2017
520,79,Greece,Middle East and North Africa,5.3579,6.99674,0.69967,72,0.18072,0.0,0.09730,2018
705,82,Greece,Middle East and North Africa,5.2867,7.01463,0.71213,76,0.10625,0.0,0.07604,2019
855,77,Greece,Middle East and North Africa,5.5150,7.34098,0.75536,72,0.25029,0.0,0.90839,2020
979,68,Greece,Middle East and North Africa,5.7226,7.27059,0.69218,73,0.33994,0.0,0.86448,2021
1124,105,Georgia,Commonwealth of Independent States,4.9732,6.64092,0.46345,74,0.68636,0.0,0.35489,2022
1314,90,Georgia,Commonwealth of Independent States,5.1091,6.71676,0.58458,65,0.69826,0.0,0.64214,2023
1405,89,Georgia,Commonwealth of Independent States,5.1847,6.85312,0.61243,71,0.78743,0.0,0.30305,2024

In [52]:
df_clean[df_clean['Country']== 'Greece']

,Ranking,Country,Regional indicator,Happiness score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
101,102,Greece,Middle East and North Africa,4.8570,6.82708,0.66275,71,0.11495,0.00000,0.97469,2015
288,99,Greece,Middle East and North Africa,5.0330,9.97503,0.63784,76,0.09568,0.00000,0.08169,2016
394,87,Greece,Middle East and North Africa,5.2270,6.89283,0.76955,71,0.14543,0.00000,0.09324,2017
520,79,Greece,Middle East and North Africa,5.3579,6.99674,0.69967,72,0.18072,0.00000,0.09730,2018
705,82,Greece,Middle East and North Africa,5.2867,7.01463,0.71213,76,0.10625,0.00000,0.07604,2019
855,77,Greece,Middle East and North Africa,5.5150,7.34098,0.75536,72,0.25029,0.00000,0.90839,2020
979,68,Greece,Middle East and North Africa,5.7226,7.27059,0.69218,73,0.33994,0.00000,0.86448,2021
1127,58,Greece,Middle East and North Africa,5.9482,7.70827,0.74276,80,0.33669,0.03189,0.18461,2022
1282,58,Greece,Middle East and North Africa,5.9309,7.76334,0.76983,71,0.32130,0.01872,0.82647,2023
1408,63,Greece,Middle East and North Africa,5.9336,7.86686,0.78940,76,0.39053,0.04532,0.16097,2024

In [53]:
df_clean[df_clean['Country']== 'Georgia']

,Ranking,Country,Regional indicator,Happiness score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
129,130,Georgia,Commonwealth of Independent States,4.2970,4.38886,0.27500,65,0.60588,0.06969,0.30549,2015
249,126,Georgia,Commonwealth of Independent States,4.2520,9.96148,0.16268,70,0.53347,0.08278,0.63102,2016
464,125,Georgia,Commonwealth of Independent States,4.2860,5.08141,0.35429,66,0.47005,0.06444,0.54203,2017
517,128,Georgia,Commonwealth of Independent States,4.3405,5.17439,0.51744,67,0.51823,0.06442,0.46992,2018
742,119,Georgia,Commonwealth of Independent States,4.5191,5.26021,0.40997,72,0.54832,0.07627,0.36187,2019
895,117,Georgia,Commonwealth of Independent States,4.6726,5.51319,0.47248,64,0.70030,0.08355,0.67348,2020
976,108,Georgia,Commonwealth of Independent States,4.8914,5.88527,0.40074,64,0.68128,0.05991,0.66835,2021
1124,105,Georgia,Commonwealth of Independent States,4.9732,6.64092,0.46345,74,0.68636,0.00000,0.35489,2022
1314,90,Georgia,Commonwealth of Independent States,5.1091,6.71676,0.58458,65,0.69826,0.00000,0.64214,2023
1405,89,Georgia,Commonwealth of Independent States,5.1847,6.85312,0.61243,71,0.78743,0.00000,0.30305,2024

In [54]:
#Deberia completar por la media??
df_clean[df_clean['Perceptions of corruption']== 0]

,Ranking,Country,Regional indicator,Happiness score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
153,154,Rwanda,Sub-Saharan Africa,3.4650,1.31375,0.55176,54,0.88395,0.28431,0.0,2015
270,87,Bosnia and Herzegovina,Central and Eastern Europe,5.1630,9.77892,0.54398,73,0.15631,0.36463,0.0,2016
428,90,Bosnia and Herzegovina,Central and Eastern Europe,5.1820,5.25138,0.66395,68,0.31053,0.39241,0.0,2017
487,93,Bosnia and Herzegovina,Central and Eastern Europe,5.1294,5.54813,0.55481,70,0.38691,0.36134,0.0,2018
694,71,Moldova,Central and Eastern Europe,5.5285,4.06975,0.81790,71,0.38855,0.31909,0.0,2019
810,31,Singapore,Southeast Asia,6.3771,9.88875,0.90171,77,0.91641,0.38393,0.0,2020
1050,32,Singapore,Southeast Asia,6.3765,9.68360,0.86924,77,0.92703,0.32509,0.0,2021
1109,47,Croatia,Central and Eastern Europe,6.1252,7.71867,0.89648,78,0.72241,0.23325,0.0,2022
1249,25,Singapore,Southeast Asia,6.5867,9.85578,0.83625,74,0.85557,0.40350,0.0,2023
1374,64,Bosnia and Herzegovina,Central and Eastern Europe,5.8770,6.84293,0.81541,73,0.71889,0.61470,0.0,2024

In [55]:
#Otra forma de estandarizar los paises y las regiones(Encontrada en internet pero tras analizar creo que es mejor que dejar lo que estaba)
!pip install country_converter

Requirement already satisfied: country_converter in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (1.3.2)
Requirement already satisfied: pandas>=1.0 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from country_converter) (2.3.3)
Requirement already satisfied: numpy>=1.23.2 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from pandas>=1.0->country_converter) (2.3.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\andre\appdata\roaming\python\python311\site-packages (from pandas>=1.0->country_converter) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from pandas>=1.0->country_converter) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from pandas>=1.0->country_converter) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\andre\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas>=1.0->country_converter) (1.17.0)

[notice] A new release of pip is available: 24.0 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [56]:
import country_converter as coco

In [57]:
df_clean['Country'] = df_clean['Country'].replace({'Argelia': 'Algeria'})

df_clean['Country_Standardized'] = coco.convert(names=df_clean['Country'], to='name_short', not_found=None)

countries_not_found = df_clean[df_clean['Country_Standardized'].isna()]['Country'].unique()
countries_not_found

# We fixed the name "Argelia" to "Algeria"
# And finally, we look for any country that is null in the newly generated column,
# which would indicate errors

# Finally, we also standardized the regions for greater consistency in the analysis

df_clean['iso3'] = coco.convert(names=df_clean['Country_Standardized'], to='ISO3')

df_clean['Standardized_Region'] = coco.convert(names=df_clean['Country_Standardized'], to='UNregion')

# Let's take a peek at the result!

df_clean

,Ranking,Country,Regional indicator,Happiness score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year,Country_Standardized,iso3,Standardized_Region
0,1,Switzerland,Western Europe,7.5870,8.261320,0.96240,73,0.99379,0.37289,0.23941,2015,Switzerland,CHE,Western Europe
1,2,Iceland,Western Europe,7.5610,7.704160,1.00000,73,0.93884,0.54819,0.74371,2015,Iceland,ISL,Northern Europe
2,3,Denmark,Western Europe,7.5270,7.841140,0.97030,70,0.96962,0.42894,0.12382,2015,Denmark,DNK,Northern Europe
3,4,Norway,Western Europe,7.5220,8.631000,0.94917,71,1.00000,0.43598,0.33860,2015,Norway,NOR,Northern Europe
4,5,Canada,North America and ANZ,7.4270,7.845950,0.94322,71,0.94511,0.57560,0.40285,2015,Canada,CAN,Northern America
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1497,78,Venezuela,Latin America and Caribbean,5.6067,6.244891,0.81740,70,0.59990,0.47969,0.14982,2024,Venezuela,VEN,South America
1498,54,Vietnam,Southeast Asia,6.0430,6.215790,0.78378,71,0.97594,0.23369,0.27818,2024,Vietnam,VNM,South-eastern Asia
1499,130,Yemen,Middle East and North Africa,3.5610,3.136060,0.79273,64,0.41974,0.19988,0.19678,2024,Yemen,YEM,Western Asia
1500,131,Zambia,Sub-Saharan Africa,3.5024,4.199780,0.50041,63,0.84216,0.41825,0.19012,2024,Zambia,ZMB,Eastern Africa
1501,135,Zimbabwe,Sub-Saharan Africa,3.3411,3.496060,0.52587,62,0.56401,0.23983,0.22708,2024,Zimbabwe,ZWE,Eastern Africa

In [58]:
key_columns = ['Country_Standardized', 'Year']
duplicated_rows = df_clean[df_clean.duplicated(subset=key_columns, keep=False)]

In [59]:
duplicated_rows

,Ranking,Country,Regional indicator,Happiness score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year,Country_Standardized,iso3,Standardized_Region
65,66,North Cyprus,Western Europe,5.695,7.14652,0.76313,72,0.73204,0.32881,0.74126,2015,Cyprus,CYP,Western Asia
66,67,Cyprus,Western Europe,5.689,7.14692,0.63697,72,0.60729,0.38496,0.88864,2015,Cyprus,CYP,Western Asia
163,76,Somalia,Sub-Saharan Africa,5.440,0.12104,0.28407,49,0.93311,0.33213,0.61717,2016,Somalia,SOM,Eastern Africa
190,97,Somaliland region,Sub-Saharan Africa,5.057,9.13349,0.64113,58,0.64307,0.62801,0.72829,2016,Somalia,SOM,Eastern Africa
302,62,North Cyprus,Western Europe,5.771,9.93374,0.69153,78,0.71647,0.32111,0.32815,2016,Cyprus,CYP,Western Asia
304,69,Cyprus,Western Europe,5.546,9.93412,0.59748,78,0.48492,0.34044,0.10348,2016,Cyprus,CYP,Western Asia
407,61,North Cyprus,Western Europe,5.810,7.19979,0.73657,71,0.71584,0.31840,0.33459,2017,Cyprus,CYP,Western Asia
419,65,Cyprus,Western Europe,5.621,7.24804,0.70246,72,0.53948,0.32366,0.08882,2017,Cyprus,CYP,Western Asia

In [60]:
df_clean[df_clean['Country']== 'North Cyprus']

,Ranking,Country,Regional indicator,Happiness score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year,Country_Standardized,iso3,Standardized_Region
65,66,North Cyprus,Western Europe,5.695,7.14652,0.76313,72,0.73204,0.32881,0.74126,2015,Cyprus,CYP,Western Asia
302,62,North Cyprus,Western Europe,5.771,9.93374,0.69153,78,0.71647,0.32111,0.32815,2016,Cyprus,CYP,Western Asia
407,61,North Cyprus,Western Europe,5.810,7.19979,0.73657,71,0.71584,0.31840,0.33459,2017,Cyprus,CYP,Western Asia

In [61]:
df_clean[df_clean['Country']== 'Cyprus']

,Ranking,Country,Regional indicator,Happiness score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year,Country_Standardized,iso3,Standardized_Region
66,67,Cyprus,Western Europe,5.6890,7.14692,0.63697,72,0.60729,0.38496,0.88864,2015,Cyprus,CYP,Western Asia
304,69,Cyprus,Western Europe,5.5460,9.93412,0.59748,78,0.48492,0.34044,0.10348,2016,Cyprus,CYP,Western Asia
419,65,Cyprus,Western Europe,5.6210,7.24804,0.70246,72,0.53948,0.32366,0.08882,2017,Cyprus,CYP,Western Asia
505,61,Cyprus,Western Europe,5.7625,7.45164,0.74516,73,0.58353,0.33886,0.07654,2018,Cyprus,CYP,Western Asia
673,49,Cyprus,Western Europe,6.0458,7.50051,0.75329,77,0.64287,0.33664,0.08973,2019,Cyprus,CYP,Western Asia
824,45,Cyprus,Western Europe,6.1590,7.89236,0.74257,74,0.66264,0.40001,0.90396,2020,Cyprus,CYP,Western Asia
963,39,Cyprus,Western Europe,6.2235,7.86375,0.65284,74,0.64801,0.32932,0.88900,2021,Cyprus,CYP,Western Asia
1110,41,Cyprus,Western Europe,6.2209,8.21521,0.68892,81,0.60557,0.26356,0.10528,2022,Cyprus,CYP,Western Asia
1270,46,Cyprus,Western Europe,6.1300,8.29006,0.75600,73,0.59029,0.24724,0.91149,2023,Cyprus,CYP,Western Asia
1391,50,Cyprus,Western Europe,6.0681,8.38021,0.75284,78,0.61250,0.31061,0.08551,2024,Cyprus,CYP,Western Asia

In [62]:
print(df_clean.shape)
indices_eliminar = df_clean[df_clean['Country']== 'North Cyprus'].index
df_clean.drop(indices_eliminar, inplace=True)
df_clean.shape

(1502, 14)

(1499, 14)

In [63]:
df_clean[df_clean['Country']=='Somaliland region']

,Ranking,Country,Regional indicator,Happiness score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year,Country_Standardized,iso3,Standardized_Region
90,91,Somaliland region,Sub-Saharan Africa,5.057,1.11491,0.67858,55,0.69553,0.63223,0.27654,2015,Somalia,SOM,Eastern Africa
190,97,Somaliland region,Sub-Saharan Africa,5.057,9.13349,0.64113,58,0.64307,0.62801,0.72829,2016,Somalia,SOM,Eastern Africa

In [64]:
df_clean[df_clean['Country']=='Somalia']

,Ranking,Country,Regional indicator,Happiness score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year,Country_Standardized,iso3,Standardized_Region
163,76,Somalia,Sub-Saharan Africa,5.4400,0.12104,0.28407,49,0.93311,0.33213,0.61717,2016,Somalia,SOM,Eastern Africa
457,93,Somalia,Sub-Saharan Africa,5.1510,0.12104,0.44776,51,0.91474,0.34798,0.60824,2017,Somalia,SOM,Eastern Africa
594,98,Somalia,Sub-Saharan Africa,4.9815,0.12104,0.00000,55,0.92980,0.39825,0.61731,2018,Somalia,SOM,Eastern Africa
735,112,Somalia,Sub-Saharan Africa,4.6679,0.12104,0.42977,63,0.88607,0.42957,0.59754,2019,Somalia,SOM,Eastern Africa

In [65]:
#En el caso de somalia, como me falta 2015 en "Somalia" y esta en "Somalia Region" voy a cambiar el nombre en ese año y elimino solo el del 2016
df_clean.loc[90,'Country'] = 'Somalia'
print(df_clean.loc[90,'Country'] )
print(df_clean.shape)
df_clean.drop(190, inplace=True)
print(df_clean.shape)
df_clean[df_clean['Country']== 'Somaliland region']

Somalia
(1499, 14)
(1498, 14)

Empty DataFrame
Columns: [Ranking, Country, Regional indicator, Happiness score, GDP per capita, Social support, Healthy life expectancy, Freedom to make life choices, Generosity, Perceptions of corruption, Year, Country_Standardized, iso3, Standardized_Region]
Index: []

In [66]:
#Compruebo que se haya agregado el 2015
df_clean[df_clean['Country']=='Somalia']

,Ranking,Country,Regional indicator,Happiness score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year,Country_Standardized,iso3,Standardized_Region
90,91,Somalia,Sub-Saharan Africa,5.0570,1.11491,0.67858,55,0.69553,0.63223,0.27654,2015,Somalia,SOM,Eastern Africa
163,76,Somalia,Sub-Saharan Africa,5.4400,0.12104,0.28407,49,0.93311,0.33213,0.61717,2016,Somalia,SOM,Eastern Africa
457,93,Somalia,Sub-Saharan Africa,5.1510,0.12104,0.44776,51,0.91474,0.34798,0.60824,2017,Somalia,SOM,Eastern Africa
594,98,Somalia,Sub-Saharan Africa,4.9815,0.12104,0.00000,55,0.92980,0.39825,0.61731,2018,Somalia,SOM,Eastern Africa
735,112,Somalia,Sub-Saharan Africa,4.6679,0.12104,0.42977,63,0.88607,0.42957,0.59754,2019,Somalia,SOM,Eastern Africa

In [67]:
df_clean[df_clean['Country']!=df_clean['Country_Standardized']]['Country'].unique()

array(['Czech Republic', 'Turkey', 'Macedonia', 'Swaziland',
       'Palestinian Territories', 'Congo (Kinshasa)',
       'Congo (Brazzaville)', 'Ivory Coast', 'Taiwan Province of China',
       'Hong Kong S.A.R. of China', 'Trinidad & Tobago', 'Congo',
       'State of Palestine', 'Turkiye'], dtype=object)

In [68]:
df_clean[df_clean['Country'] =='Congo']##ELIMINAR

,Ranking,Country,Regional indicator,Happiness score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year,Country_Standardized,iso3,Standardized_Region
1107,99,Congo,Sub-Saharan Africa,5.0752,4.30155,0.30696,67,0.58221,0.27791,0.24819,2022,Congo Republic,COG,Middle Africa

In [70]:
df_clean[df_clean['Country'] =='State of Palestine']

,Ranking,Country,Regional indicator,Happiness score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year,Country_Standardized,iso3,Standardized_Region
1323,99,State of Palestine,Middle East and North Africa,4.9078,5.20061,0.80811,39,0.53963,0.15516,0.88085,2023,Palestine,PSE,Western Asia

In [71]:
df_clean[df_clean['Country'] =='Turkiye']

,Ranking,Country,Regional indicator,Happiness score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year,Country_Standardized,iso3,Standardized_Region
1330,106,Turkiye,Middle East and North Africa,4.6135,7.79376,0.70874,69,0.16159,0.22562,0.82861,2023,Türkiye,TUR,Western Asia
1489,96,Turkiye,Middle East and North Africa,4.9753,7.94937,0.72687,74,0.23407,0.16981,0.19955,2024,Türkiye,TUR,Western Asia

In [72]:
df_clean.columns

Index(['Ranking', 'Country', 'Regional indicator', 'Happiness score',
       'GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Year', 'Country_Standardized', 'iso3',
       'Standardized_Region'],
      dtype='object')

In [73]:
df_total = df_clean.drop(['Regional indicator', 'Generosity', 'Perceptions of corruption', 'iso3'], axis=1)

In [74]:
df_total.head()

,Ranking,Country,Happiness score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Year,Country_Standardized,Standardized_Region
0,1,Switzerland,7.587,8.26132,0.96240,73,0.99379,2015,Switzerland,Western Europe
1,2,Iceland,7.561,7.70416,1.00000,73,0.93884,2015,Iceland,Northern Europe
2,3,Denmark,7.527,7.84114,0.97030,70,0.96962,2015,Denmark,Northern Europe
3,4,Norway,7.522,8.63100,0.94917,71,1.00000,2015,Norway,Northern Europe
4,5,Canada,7.427,7.84595,0.94322,71,0.94511,2015,Canada,Northern America

In [75]:
df_total.columns

Index(['Ranking', 'Country', 'Happiness score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Year', 'Country_Standardized',
       'Standardized_Region'],
      dtype='object')

In [76]:
regiones = df_total['Standardized_Region'].unique()

In [77]:
for region in regiones:
    print(region)

Western Europe
Northern Europe
Northern America
Australia and New Zealand
Western Asia
Central America
South America
South-eastern Asia
Eastern Europe
Southern Europe
Eastern Asia
Caribbean
Central Asia
Northern Africa
Eastern Africa
Western Africa
Southern Asia
Southern Africa
Middle Africa

In [78]:
continents = {
'Northern Europe' : 'Europa',
'Central Asia' : 'Asia',
'Australia and New Zealand': 'Oceanía',
'Southern Europe': 'Europa',
'Western Europe': 'Europa',
'South America' : 'America',
'Eastern Europe': 'Europa',
'Eastern Asia': 'Asia',
'Northern America': 'America',
'South-eastern Asia': 'Asia',
'Central America': 'America',
'Caribbean': 'America',
'Southern Africa': 'África',
'Western Asia': 'Asia',
'Northern Africa': 'África',
'Southern Asia': 'Asia',
'Western Africa': 'África',
'Middle Africa': 'África',
'Eastern Africa': 'África',

}

In [79]:
df_total['Continent'] = df_total['Standardized_Region'].map(continents)

In [80]:
df_total.head()

,Ranking,Country,Happiness score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Year,Country_Standardized,Standardized_Region,Continent
0,1,Switzerland,7.587,8.26132,0.96240,73,0.99379,2015,Switzerland,Western Europe,Europa
1,2,Iceland,7.561,7.70416,1.00000,73,0.93884,2015,Iceland,Northern Europe,Europa
2,3,Denmark,7.527,7.84114,0.97030,70,0.96962,2015,Denmark,Northern Europe,Europa
3,4,Norway,7.522,8.63100,0.94917,71,1.00000,2015,Norway,Northern Europe,Europa
4,5,Canada,7.427,7.84595,0.94322,71,0.94511,2015,Canada,Northern America,America

In [81]:
orden_columnas = ['Ranking', 'Country','Country_Standardized','Standardized_Region','Continent', 'Year', 'Happiness score','GDP per capita','Social support','Healthy life expectancy', 'Freedom to make life choices']

In [82]:
df_total = df_total[orden_columnas]

In [83]:
df_total.head()

,Ranking,Country,Country_Standardized,Standardized_Region,Continent,Year,Happiness score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices
0,1,Switzerland,Switzerland,Western Europe,Europa,2015,7.587,8.26132,0.96240,73,0.99379
1,2,Iceland,Iceland,Northern Europe,Europa,2015,7.561,7.70416,1.00000,73,0.93884
2,3,Denmark,Denmark,Northern Europe,Europa,2015,7.527,7.84114,0.97030,70,0.96962
3,4,Norway,Norway,Northern Europe,Europa,2015,7.522,8.63100,0.94917,71,1.00000
4,5,Canada,Canada,Northern America,America,2015,7.427,7.84595,0.94322,71,0.94511

In [84]:
df_total_new = df_total.rename(columns={
    'Ranking': 'World Ranking',
    'Standardized_Region': 'Region',
    'Country_Standardized': 'Country_s',
})

In [85]:
#Busco a ver si hay paises donde tenga 0 en el GDP
df_total[df_total['GDP per capita']==0]['Country'].unique()

array([], dtype=object)

In [86]:
df_total.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1498 entries, 0 to 1501
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Ranking                       1498 non-null   int64
 1   Country                       1498 non-null   object
 2   Country_Standardized          1498 non-null   object
 3   Standardized_Region           1498 non-null   object
 4   Continent                     1498 non-null   object
 5   Year                          1498 non-null   int64
 6   Happiness score               1498 non-null   float64
 7   GDP per capita                1498 non-null   float64
 8   Social support                1498 non-null   float64
 9   Healthy life expectancy       1498 non-null   int64
 10  Freedom to make life choices  1498 non-null   float64
dtypes: float64(4), int64(3), object(4)
memory usage: 140.4+ KB

In [98]:
df_total.to_csv('datos_limpios_copia.csv', index=False)